<div id="<%= dom_id expenditure %>">
  <p class="container-flud mx-3 px-2 bg-white border-bottom">
    <strong>Name:</strong>
    <%= expenditure.name %>
  </p>

  <div class="container-flud mx-3 px-2 bg-white border-bottom">
    <p class="py-2">Transactionº<%= expenditure.created_at.to_time.to_i %> <br/>
    <span class="fa fa-calendar"></span> <span class="mx-1"><%= expenditure.created_at %></span>
    </p>
  </div>

  <p class="container-flud mx-3 px-2 bg-white border-bottom">
    <strong>Total Amount: $</strong>
    <%= expenditure.amount %>
  </p>
</div>
