<div class='section'>
  <%= simple_form_for @category, url: category_path(@category), data: {turbo: false}, method: :patch do |f| %>
    <div class='field'>
      <div class='control'>
        <%= f.input :name, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class='field'>
      <div class='control'>
        <%= f.input :icon, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div class='field'>
      <div class='control'>
        <%= f.input :description, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
      </div>
    </div>
    <div>
      <%= f.button :submit, class: 'button is-primary' %>
    </div>
    <% end %>
</div>

